
header {
    display: flex;
    justify-content: center;
    background-color: steelblue;
    color: white;
    font-size: 50px;
    padding: 30px;
    max-width: 100%;
    text-shadow: 0px 3px 5px black;
    font-weight: 800;
}
nav ul {
    display: flex;
    border-top: solid;
    border-bottom: double;
    background-color: steelblue;
    list-style-type: none;
    margin: 0;
    padding: 0;
    justify-content: center;
}
nav a {
    text-decoration: none;
    display: block;
    padding: 20px;
    color: white;
    font-family: 'Dancing Script', cursive;
    font-size: 35px;
}
nav a:hover {
    color: cornflowerblue;
}


#gruppbild{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    border: 4px ridge steelblue;
    margin-top: 5px;
    /* margin-bottom: 10px; */
    padding: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
    text-align: center;
    font-size: 24px;

}

#porträtt{
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
    font-size: 18px;
    padding: 10px;
    text-align: center ;
}
#photo1,
#photo2,
#photo3,
#photo4{
    width: 225px;
    border: 4px ridge steelblue;
}


#formular{
    border: 4px ridge steelblue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
    height: 140px;
    padding: 20px 20px;
    margin: 20px;
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: space-around;

}
.signupbtn{
    width: 120px;
    height: 40px;
    margin-top:20px;
	margin-bottom:40px;

}

#sociala{

    border: 4px ridge steelblue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0px;
    padding: 2px;
  }


footer {
    display:grid;
    grid-template-rows:auto;
    grid-template-columns:1fr;
    grid-column:1 / 5;
    grid-row: 7 / 8;
    justify-items:center;
    align-items:center;
    background-color:steelblue;
  }

 #footer-text{
    color:white;
  }

  button {
    width: 200px;
    height: 50px;
    margin-top:20px;
	margin-bottom:40px;
    border-radius: 1000px;
    background-color: #3d7ab3;
    color: white;
    place-self: center;
  }

  button:hover {
    background-color:#0a63a3;
  }

  




