body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    font-family: helvetica, times new roman, fantasy,;
    justify-content: center;
    background-color: steelblue;
    color: white;
    font-size: 50px;
    padding: 30px;
    max-width: 100%;
    text-shadow: 0px 3px 5px black;
    font-weight: 800;
}

.aletter {
    font-weight: 900;
    font-size: 55px;
}

nav ul {
    display: flex;
    border-top: solid;
    border-bottom: double;
    background-color: steelblue;
    list-style-type: none;
    margin: 0;
    padding: 0;
    justify-content: space-around;
}

nav a {
    text-decoration: none;
    display: block;
    padding: 20px;
    color: white;
    font-family: monospace;
    font-size: 30px;
}

nav a:hover {
    color: cornflowerblue;
}

.footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background-color: steelblue;
    height: 100px;
}