body {
    width: 1400px;
    padding-left: 10%;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(9, auto);
    grid-template-areas: 
    "header header header"
    "nav nav nav"
    "main main main"
    "section1 section2 section3"
    "footer footer footer"
}

header {
    grid-area: header;
    display: flex;
    font-family: helvetica, times new roman, fantasy, ;
    justify-content: center;
    background-color: steelblue;
    color: white;
    font-size: 50px;
    padding: 30px;
    text-shadow: 0px 3px 5px black;
    font-weight: 800;
}

.aletter {
    font-weight: 900;
    font-size: 55px;
}

nav {
    grid-area: nav;
}

nav ul {
    display: flex;
    border-top: solid;
    border-bottom: double;
    background-color: steelblue;
    list-style-type: none;
    margin: 0;
    padding: 0;
    justify-content: space-around;
}

nav a {
    text-decoration: none;
    display: block;
    padding: 20px;
    color: white;
    font-family: monospace;
    font-size: 30px;
}

nav a:hover {
    color: cornflowerblue;
}

main {
    grid-area: main;
    color: white;
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    padding-top: 50px;
    text-align: center;
    margin-top: 30px;
    height: 700px;
    background-size: cover;
    background-image: url(../img/house.png);
}

.section1 {
    grid-area: section1;
}

.section2 {
    grid-area: section2;
}

.section3 {
    grid-area: section3;
}

footer {
    grid-area: footer;
    background-color: steelblue;
    color: white;
}