:root {
    /*Sizing*/
    --main-width: 70%;
    --main-margin: 30px auto 0;
}

body {
    box-sizing: border-box;  
    margin: 0;
}

.grid-container {
    display: grid;
    margin: 0;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(9, auto);
    grid-template-areas: 
    "header header header"
    "nav nav nav"
    "main main main"
    "article1 article1 article1"
    "footer footer footer";
}

header {
    grid-area: header;
    display: flex;
    font-family: helvetica, times new roman, fantasy, ;
    justify-content: center;
    background-color: steelblue;
    color: white;
    font-size: 50px;
    padding: 30px;
    text-shadow: 0px 3px 5px black;
    font-weight: 800;
}

.aletter {
    font-weight: 900;
    font-size: 55px;
}

nav {
    grid-area: nav;
}

nav ul {
    display: flex;
    border-top: solid;
    border-bottom: double;
    background-color: steelblue;
    list-style-type: none;
    margin: 0;
    padding: 0;
    justify-content: center;
}

nav a {
    text-decoration: none;
    display: block;
    padding: 20px;
    color: white;
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
}

nav a:hover {
    color: cornflowerblue;
}

main {
    grid-area: main;
    color: white;
    font-family: 'Dancing Script', cursive;
    font-size: 25px;
    padding-top: 50px;
    padding-bottom: 100px;
    text-align: center;
    height: 400px;
    width: var(--main-width);
    margin: var(--main-margin);
    background-size: cover;
    background-image: url(../img/house.png);
}

.article1 {
    grid-area: article1;
    width: var(--main-width);
    margin: var(--main-margin);
}

footer {
    grid-area: footer;
    background-color: steelblue;
    color: white;
}