body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /**/
}

.content {
    width:100%;
    height:auto;
    display:grid;
    grid-template-rows:auto;
    grid-template-columns:repeat(auto,1fr);
  }

  header {
    display:grid;
    grid-column:1 / 5;
    background-color: steelblue;
    color: white;
    font-size: 50px;
    padding: 30px;
    max-width: 100%;
    text-shadow: 0px 3px 5px black;
    font-weight: 800;
    justify-items:center;
    align-items:center;
  }

  ul {
    list-style-type:none;
    margin:0px;
    padding:0px;
  }

  .aletter {
    font-weight: 900;
    font-size: 55px;
  }

  nav {
    grid-column:1 / 5;
    grid-row:2 / 3;
  }
  
  nav ul {
    display: flex;
    border-top: solid;
    border-bottom: double;
    background-color:steelblue;
    list-style-type: none;
    margin: 0;
    padding: 0;
    justify-content: center;
}

nav a {
    text-decoration: none;
    display: block;
    padding: 20px;
    color: var(--second-text-color);
    font-family: 'Dancing Script', cursive;
    font-size: 35px;
}

nav a:hover {
    color: cornflowerblue;
}

  .box-section-1 {
    display:grid;
    grid-template-rows:auto;
    grid-template-columns:repeat(3,1fr);
    grid-column:1 / 5;
    grid-row:4 / 5;
    grid-gap:30px;
  }

  .box-section-2 {
    display:grid;
    grid-template-rows:auto;
    grid-template-columns:repeat(3,1fr);
    grid-column:1 / 5;
    grid-row: 6 / 7;
    grid-gap:30px;
    justify-items:center;
  }

#box1,
#box2,
#box3,
#box4,
#box5,
#box6,
#box7,
#box8,
#box9 {
  text-align:center;
  padding:20px;
  box-shadow:0px 2px 4px 0px rgba(0, 0, 0, 0.2);
  margin:20px 40px;
}

#bg-img2 {
  grid-row-start:5;
  grid-row-end:6;
  grid-column-start:1;
  grid-column-end:5;
width: 100%;
}

#bg-img1 {
grid-row-start:3;
grid-row-end:4;
grid-column-start:1;
grid-column-end:5;
}

#bg-img1 img {
width:100%;
}

#bg-img2 img {
width:100%;
}
footer {
    display:grid;
    grid-template-rows:auto;
    grid-template-columns:1fr;
    grid-column:1 / 5;
    grid-row: 7 / 8;
    justify-items:center;
    align-items:center;
    background-color:steelblue;
  }

 #footer-text{
    color:white;
  }

  button {
    width: 200px;
    height: 50px;
    margin-top:20px;
	margin-bottom:40px;
    border-radius: 1000px;
    background-color: #3d7ab3;
    color: white;
    place-self: center;
  }

  button:hover {
    background-color:#0a63a3;
  }
  
  /* Media Queries */

	  	/* Small Desktop upto 1200px */
	  	@media screen and (max-width: 1199px) {
		
	      .box-section-1,
	  	  .box-section-2 {
	    	grid-template-columns:repeat(2,1fr);
	  		grid-gap:10px;
	    	  }
	  
	          [id*="box"] {
	      		margin:20px 40px;
	          }
		
	    	  footer {
	    	    grid-template-columns:1fr;
	    	  }
	  	}

	  	/* iPad upto 960px */

	  	@media screen and (max-width: 959px) {
	          [id*="box"] {
	      		margin:20px 20px;
	          }
		
	          .box-section-1,
	    	  .box-section-2 {
	      	    grid-template-columns:repeat(2,1fr);
	  			grid-template-rows:1fr;
	  			grid-gap:10px;
	      	  }

	  	  footer {
	  	    grid-template-columns:1fr;
	  	  }
	  	}

	  	/* Mobile up to 767px */
	  	@media screen and (max-width: 767px) {
		
	    	  nav ul {
	    	    display:grid;
	    	    grid-template-columns:1fr;
	    	  }
	  
	  
	        [id*="box"] {
	    		margin:20px 10px;
	        }
		
	      .box-section-1,
	  	  .box-section-2 {
	    	    grid-template-columns:1fr;
	    	  }
	  
	  	  footer {
	  	    grid-template-columns:1fr;
	  	  }
	    }